.home-hero {
    height: 900px;
    background-image: url('/src/assets/bg/download.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: relative;
}

.home-hero::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: var(--black-color);
}

.hero-content {
    width: 691px;
    color: #fff;
    z-index: 900 !important;
}

.hero-content h1 {
    color: #ffffff;
    line-height: 97px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
}

.btn {
    width: 200px;
    height: 60px;
    border: 1px solid;
}