.home-product {
    background-image: url('/src/assets/bg/Shap.png'), url('/src/assets/bg/28.jpg'), url('/src/assets/bg/shap2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}