.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review_box {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide .quote {
    text-align: center;
}

.RU_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.review_user {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    object-position: center;
    transform: scale(1);
}