@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
    --primary-color: #C7A17A;
    --black-color: #010103;
    --dark-color: #13131A;
    --gray-color: #32323D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black-color);
    color: white;
    font-family: 'Young Serif', serif;
}